.cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span {
  margin: 0 15px;
}

.btnAction {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px 0;
}
