.shopBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: white;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.icon {
  width: 2rem;
}
