.description {
  background-color: rgb(0, 0, 0, 0.1);
  width: 70%;
  text-align: center;
  margin: 5em auto;
  padding: 0.5em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  opacity: 0.8;
}
