.inputs {
  display: flex;
  align-items: center;
  padding: 5px;
}

.label {
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: 900;
}

.input {
  width: 50px;
  height: 26px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
